USE [master]
GO
/****** Object:  Database [examen]    Script Date: 12/06/2024 01:06:13 p. m. ******/
CREATE DATABASE [examen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'examen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\examen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'examen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\examen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [examen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [examen]
GO
/****** Object:  Table [dbo].[puntos]    Script Date: 12/06/2024 01:06:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puntos](
	[codPunto] [int] IDENTITY(1,1) NOT NULL,
	[textura] [varchar](20) NULL,
	[color] [varchar](20) NULL,
	[R] [int] NULL,
	[G] [int] NULL,
	[B] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codPunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
